@use "../abstract/mixins";
@use "../abstract/variaveis";

#contatos {
  @include mixins.margem-central(80%);
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  .contatos-imgs {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;

    // img {
    //     width: 100%;

    //     &:nth-child(n + 2){
    //         width: 48%;
    //     }
    // }
  }

  .contatos-form {
    max-width: 50%;
    background: variaveis.$gradiente-primario;
    border-radius: 32px;
    padding: 0 2rem;

    .titulo {
      @include mixins.ff-fs-color(
        variaveis.$ft-titulos,
        2rem,
        variaveis.$cor-secundaria
      );
      font-weight: 500;
    }
    .infos {
      @include mixins.ff-fs-color(
        variaveis.$ft-textos,
        1.2rem,
        variaveis.$cor-primaria
      );
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: flex-start;
      align-self: stretch;

      .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          @extend .infos;
          font-weight: bold;
        }
        textarea {
          @extend input;
        }
      }
      input {
        outline: none;
        border-radius: 32px;
        padding: 0.6rem 1.5rem;
        border: none;
        margin: 1rem 0;
      }
      .btn {
        @extend input;
        background: variaveis.$cor-secundaria;
        width: 100%;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        transition: 0.3s;
        &:hover {
          background: variaveis.$cor-default;
          color: black;
        }
      }
    }
  }
}
